<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta name="author" content="Leonardo Rodrigues">
    <meta name="description"
        content="Meu nome é Leonardo Rodrigues, este é meu portfólio de Desenvolvedor, atualmente estou ampliando meus conhecimentos e buscando vagas para me desenvolver ainda melhor.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="../assets/media/images/Logo.ico" size>
    <link
        href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway&family=Righteous&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <title>Code Portfólio</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="https://kriegerl1.github.io/Match-Repo/">
                <img src="../assets/media/images/Logo.png" alt="LOGO">
            </a>

        </div>
        <nav class="responsive-navigation">

            <button onclick="menuShow()" class="r-menu-nav-bar"><ion-icon name="menu-outline"></ion-icon></button>
            <a href="#scroll-home" class="home">Portfólio</a>
            <div class="r-menu-content">
                <div class="wrapper">


                    <ul class="r-nav-bar-content">


                        <a href="#scroll-about" id="nav-bar-about" class="about">
                            <label for="nav-bar-about" class="about-label">Sobre Mim
                            </label>
                        </a>

                        <a href="#scroll-projects" id="nav-bar-project" class="project">
                            <label for="nav-bar-project" class="project-label">Projetos
                            </label>
                        </a>

                        <a href="../assets/media/c_Leonardo-Rodrigues-Dev.pdf" download="Leo_Rodrigues_"
                            id="nav-bar-resume" class="resume">
                            <label for="nav-bar-resume" class="resume-label">Currículo
                            </label>
                        </a>
                    </ul>
                </div>
            </div>

        </nav>

        <nav class="navigation-bar">
            <ul class="nav-bar-content">
                <a href="https://kriegerl1.github.io/Match-Repo/" id="nav-bar-home" class="home">
                    <ion-icon name="home" for="nav-bar-home" class="nav-bar-icon"></ion-icon>
                    <label for="nav-bar-home" class="home-label">Início</label>
                </a>

                <a href="#scroll-about" id="nav-bar-about" class="about">
                    <ion-icon name="person-circle" for="nav-bar-about" class="nav-bar-icon"></ion-icon>
                    <label for="nav-bar-about" class="about-label">Sobre Mim
                    </label>
                </a>

                <a href="#scroll-projects" id="nav-bar-project" class="project">
                    <ion-icon name="rocket" for="nav-bar-project" class="nav-bar-icon"></ion-icon>
                    <label for="nav-bar-project" class="project-label">Projetos
                    </label>
                </a>

                <a href="../assets/media/c_Leonardo-Rodrigues-Dev.pdf" download="Leo_Rodrigues_" id="nav-bar-resume"
                    class="resume">
                    <ion-icon name="school" for="nav-bar-resume" class="nav-bar-icon"></ion-icon>
                    <label for="nav-bar-resume" class="resume-label">Currículo
                    </label>
                </a>
            </ul>

        </nav>

    </header>

    <aside>
        <div class="chat_content" id="disable">
            <div class="chat_box hide_chat_box">
                <div class="chat_box_header">
                    <div class="logo_steia">
                        <img src="../assets/media/images/steia_circle.png" alt="image">
                    </div>
                    <div class="info_name">
                        <h4 class="chatbox__heading--header">Ste.IA</h4>
                        <p class="chatbox__description--header">Assistente de virtual</p>
                    </div>
                </div>
                <div class="chat_box_body">
                    <div>
                        <div class="messages_item messages_item--visitor-name">Ste.IA</div>
                        <div class="messages_item messages_item--visitor">Olá, eu sou sua assistente virtual.</div>
                    </div>
                </div>
                <div class="chat_box_footer">
                    <input type="text" placeholder="Escreva uma mensagem...">
                    <ion-icon class="send_icon" id="send_btn" name="send">
                        <button type="submit" for="send_btn" class="chatbox__send--footer send_button">Enviar</button>
                    </ion-icon>
                </div>

            </div>
            <div class="btn_chat">
                <button onscroll="scrollClose()" onclick="chatShow()" class="btn_chat_icon"><ion-icon
                        name="chatbubble-ellipses"></ion-icon></button>
            </div>
        </div>
    </aside>

    <aside>
        <div class="sound">
            <button onclick="lesssound()" type="button"><ion-icon name="volume-low-outline"></ion-icon></button>
            <button class="mute" onclick="enableMute()" type="button"><ion-icon name="play-outline"></ion-icon></button>
            <button onclick="plussound()" type="button"><ion-icon name="volume-high-outline"></ion-icon></button>
            <audio id="control-sound" autoplay muted loop>
                <source src="../assets/media/audio/Lawrence - TrackTribe.mp3" type="audio/mpeg">
            </audio>

        </div>
    </aside>

    <aside>
        <div class="content-color">
            <div class="colorWeb">
                <div class="tittle-content-color">
                    <h2 class="tittle-aside">Color</h2>
                </div>
                <div class="content-color-bar">
                    <input type="range" name="'" id="R" min="0" max="255" value="0">
                    <input type="range" name="'" id="G" min="0" max="255" value="255">
                    <input type="range" name="'" id="B" min="0" max="255" value="255">
                </div>
            </div>
        </div>
    </aside>

    <aside>
        <div class="nav-social">
            <section>
                <div class="aside-social-medias">

                    <div class="tittle-content-media">
                        <h2 class="tittle-aside">Social Medias</h2>
                    </div>

                    <div class="content-media">
                        <div class="aside-linkedin">
                            <a href="http://www.linkedin.com/in/leokrodrigues" id="linkedin-social"
                                target="_blank"><ion-icon class="aside-media" name="logo-linkedin"></ion-icon></a>
                        </div>
                        <div class="aside-github">
                            <a href="https://github.com/Kriegerl1" id="github-social" target="_blank"><ion-icon
                                    class="aside-media" name="logo-github"></ion-icon></a>
                        </div>
                        <div class="aside-instagram">
                            <a href="https://www.instagram.com/leo_rodrigues1997/" id="github-social" target="_blank"><ion-icon
                                    class="aside-media" name="logo-instagram"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </aside>
    <aside>
        <div class="goTop" id="getTop">
            <a href="#scroll-home">
                <ion-icon class="arrow-goTop" name="arrow-up-outline"></ion-icon>
            </a>
        </div>
    </aside>

    <main>

        <section>
            <div class="fullscreen hide">
            </div>
        </section>
        <section id="scroll-home">
            <div class="layout-grid">
                <div class="home">
                    <p id="typing">
                    <h1 class="fade left delay-2s">Eu sou o <Strong><a href="https://github.com/Kriegerl1"
                                target="_blank" id="name">"Krieger"</a></strong>,<br>
                        <i>
                            <<strong>/Desenvolvedor em Formação>
                        </i>
                        </strong>
                    </h1>
                    </p>
                </div>
            </div>
        </section>
        <section id="scroll-about">
            <div class="layout-grid">
                <div id="about-me">
                    <h2>Sobre Mim</h2>
                    <div id="about-content" class="fade right delay">
                        <div class="about-img">
                            <img src="../assets/media/images/KthulhuBG.jpg" alt="Carlostulhu">
                        </div>
                        <div class="info-content-about">

                            <p>
                            <div id="p-about-1" class="fade delay-1s">
                                <p>Olá, eu sou <strong>Leonardo Rodrigues</strong>, mas
                                    pode me chamar de
                                    <strong>Krieger</strong>.Tenho <strong>26 anos</strong> sou de <strong>Santa
                                        Catarina</strong>,
                                    sou apaixonado pelo universo do <strong>desenvolvimento</strong>.
                                </p>
                            </div>

                            <div id="p-about-2" class="fade delay-2s">
                                <br>
                                <p>Minha paixão é o desenvolvimento <strong>backend</strong>, onde busco aplicar com
                                    <strong>criatividade</strong> e
                                    <strong>inovação</strong> para construir soluções <strong>robustas</strong> e
                                    <strong>eficientes</strong>.
                                </p>
                            </div>

                            <div id="p-about-3" class="fade delay-3s">
                                <br>
                                <p> Estou sempre em busca de <strong>novos conhecimentos</strong> e
                                    <strong>desafios</strong>, ansioso para explorar novas áreas de
                                    desenvolvimento.
                                    Acredito que a <strong>aprendizagem</strong> é uma jornada <strong>contínua</strong>
                                    e
                                    estou
                                    determinado a
                                    aplicar cada novo <strong>insight</strong> de maneira <strong>prática</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="scroll-projects">
            <div class="layout-grid">
                <div id="projects">
                    <h2>Projetos</h2>
                    <div class="card-content fade delay-1s">
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="layout-grid">
            <p>Copyright &copy; 2023 <a rel="reopensite" href="https://wa.me//5549998076236?text=&type=phone_number&app_absent=0"><img
                        src="../assets/media/images/Logo.png" alt="logo">eonardo
                    Rodrigues.dev</a> -
                Desenvolvedor em formação.</p>
            <div>
                <p>Siga-me <a href="http://www.linkedin.com/in/leokrodrigues" target="_blank"><ion-icon
                            class="social-media" name="logo-linkedin"></ion-icon></a><a
                        href="https://github.com/Kriegerl1" target="_blank"><ion-icon class="social-media"
                            name="logo-github"></ion-icon></a></p>
            </div>
        </div>
    </footer>
</body>

<script rel="Carrossel-image" src="../assets/imageRow.js" defer></script>
<script type="text/javascript" src="../assets/app.js" defer></script>
<script rel="ShowCard" src="../assets/card.js" defer></script>
<script rel="CódigosPequenos" src="../assets/js.js" defer></script>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>


</html>